.comic-display-panel-inner {
  background-color: #ECE8F1;
  width: 100%;
  display: grid;
  gap: 0.4em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 600px) {
  .comic-display-panel-inner {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: gray; */
  }
}
