.comic-display-panel-inner {
  background-color: #ece8f1;
  width: 100%;
  display: grid;
  gap: 0.4em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  position: relative;
}

.comic-display-hud {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

@media only screen and (max-width: 600px) {
  .comic-display-panel-inner {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: gray; */
  }
}
